<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 엔진 테스트</title>
</head>

<body>
    <h1>안녕하세요! <%= email %>님 환영합니다.</h1>
    <p>welcome</p>
</body>
</html>